$dark: #222831;
$dark2: #393e46;
$accent-light: rgb(78, 208, 216);
$accent: rgb(0, 173, 181);
$accent2: #6CC4BD;
$accent-80: rgba(0, 173, 181, .8);
$accent-60: rgba(0, 173, 181, .6);
$grey: #dddddd;
$grey2: #eeeeee;
$white: #fcfcfc;
$white2: #f9f9f9;
$green: #13ED84;
$red: #E83429;
$yellow: #FACB34;
